<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="false" version="3.0">
  <display-name>mysys</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>inputCA</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputCA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputCA</servlet-name>
    <url-pattern>/inputCA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputDD</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputDD</servlet-name>
    <url-pattern>/inputDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputCK</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputCK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputCK</servlet-name>
    <url-pattern>/inputCK</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputEH</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputEH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputEH</servlet-name>
    <url-pattern>/inputEH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputERR</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputERR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputERR</servlet-name>
    <url-pattern>/inputERR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputGX</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputGX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputGX</servlet-name>
    <url-pattern>/inputGX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputKC</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputKC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputKC</servlet-name>
    <url-pattern>/inputKC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputMS</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputMS</servlet-name>
    <url-pattern>/inputMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputPG</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputPG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputPG</servlet-name>
    <url-pattern>/inputPG</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputRD</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputRD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputRD</servlet-name>
    <url-pattern>/inputRD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputRK</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputRK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputRK</servlet-name>
    <url-pattern>/inputRK</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inputRX</servlet-name>
    <servlet-class>cc.erinyes.servlet.inputRX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inputRX</servlet-name>
    <url-pattern>/inputRX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCA</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryCA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCA</servlet-name>
    <url-pattern>/queryCA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryDD</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryDD</servlet-name>
    <url-pattern>/queryDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryCK</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryCK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryCK</servlet-name>
    <url-pattern>/queryCK</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryEH</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryEH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryEH</servlet-name>
    <url-pattern>/queryEH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryERR</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryERR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryERR</servlet-name>
    <url-pattern>/queryERR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryGX</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryGX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryGX</servlet-name>
    <url-pattern>/queryGX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryKC</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryKC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryKC</servlet-name>
    <url-pattern>/queryKC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryMS</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryMS</servlet-name>
    <url-pattern>/queryMS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryPG</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryPG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryPG</servlet-name>
    <url-pattern>/queryPG</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryRD</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryRD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryRD</servlet-name>
    <url-pattern>/queryRD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryRK</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryRK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryRK</servlet-name>
    <url-pattern>/queryRK</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>queryRX</servlet-name>
    <servlet-class>cc.erinyes.servlet.queryRX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryRX</servlet-name>
    <url-pattern>/queryRX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cc.erinyes.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>cc.erinyes.servlet.exitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteInfoServlet</servlet-name>
    <servlet-class>cc.erinyes.servlet.deleteInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteInfoServlet</servlet-name>
    <url-pattern>/deleteInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyInfoServlet</servlet-name>
    <servlet-class>cc.erinyes.servlet.modifyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyInfoServlet</servlet-name>
    <url-pattern>/modifyInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>